<!-- Rapportive -->
<div class="example">
    <!-- <div class="height-300" id="polygonsGmap"></div> -->
    <h1>Rapportive Email Generator</h1>
    <input id='search-title' type="text" class="form-control" name="" placeholder="Search...">

    <h2>Filter By</h2>
    <div class="row">
      <div class="col-md-2">
        <h4 class="example-title">FACULTY</h4>
      </div>
      <div class="col-md-2">
        <h4 class="example-title">PROGRAM</h4>
      </div>`
      <div class="col-md-2">
        <h4 class="example-title">YEAR</h4>
      </div>
      <div class="col-md-2">
        <h4 class="example-title">COURSE CODE</h4>
      </div>
      <div class="col-md-2">
        <h4 class="example-title">COURSE TITLE</h4>
      </div>
      <div class="col-md-2">
        <h4 class="example-title">PROF NAME</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li  role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
            <li role="presentation"><a href="javascript:void(0)" role="menuitem">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
      <button type="button" class="btn btn-lg btn-success btn-outline btn-round" ng-click="search()"></i>Search</button>
      
    </div>
  </div>


<!-- Results -->
<div class="col-md-12">
          <div class="panel">
            <div class="panel-body container-fluid">
	            <div class="">
                <div class="example-wrap">
                <h4 class="example-title">Results</h4>

                <div class="example table-responsive">
                  <div id='message-notifier'></div>
                  <div >
                      <!-- <table datatable="ng" class="row-border hover">
                          <thead>
                          <tr>
                              <th>Title</th>
                              <th>Faculty</th>
                              <th>Program</th>
                              <th>Course Code</th>
                              <th>Prof. Name</th>
                              <th>Year</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="textbook in textbooks">
                              <td>{{ textbook.CourseTitle }}</td>
                              <td>{{ textbook.Faculty }}</td>
                              <td>{{ textbook.Program }}</td>
                              <td>{{ textbook.CourseCode }}</td>
                              <td>{{ textbook.ProfName }}</td>
                              <td>{{ textbook.Year }}</td>
                          </tr>
                          </tbody>
                      </table> -->
                  </div>
      
                <!-- <div class="row" data-plugin="masonry">
                    <div ng-repeat="poi in pois">
                      <div ng-if="poi.type =='twitter'" class="col-md-3 col-xs-6 masonry-item"  ng-click="go(poi)">
                        <div class="widget widget-article widget-shadow">
                        <div class="widget-header cover overlay overlay-hover">
                        <div class="widget-body" style="padding: 15px 15px;">
                            <div class="col-xs-2" style="padding-left:0px; padding-bottom:11px;">
                              <span class="avatar">
                                <img ng-src="{{poi.profileURL}}" alt="...">
                              <i></i>
                            </span>
                            </div>
                            <div class="col-xs-7">
                              <p style="color: #0D3C5F; font-weight: 400; font-size: 80%;">{{poi.username}} &nbsp;<img ng-if="poi.verified==true"style="position: absolute; display:inline-block;"width="12%"src="../img/verified.png"/><p>
                              <p style="color:#207BBF; display:inline; font-size: 80%;"> <i class="fa fa-map-marker" style="color: #76838f" ></i> &nbsp;{{poi.location}}<p>
                            </div>
                            <div class="col-xs-3" style="left:10px; padding-left: 0; padding-right:0;">
                              <p style="color: #76838f; font-size: 60%;"><i class="fa fa-clock-o" style="font-size: 80%; "></i>&nbsp;{{poi.time}}<p>
                            </div>

                          <div class="pull-right" style="bottom: -45px; position: absolute; right: 30px;">
                            <button type="button" class="btn btn-icon social-facebook" style=" font-size: 19px; line-height: 0em; background-color: #32CCFE !important; padding-top: 4px; padding-bottom:4px; padding-left: 6px; padding-right: 6px; "><i class="fa fa-twitter" style="color: #FFF;"></i></button>
                          </div>
                        </div>
                          <div ng-if="poi.type =='instagram'">
                            <img class="cover-image overlay-scale" ng-src="{{poi.image}}" alt="">
                            <div style="margin: 5px; padding-top: 27px;">
                
                              <blockquote class="blockquote blockquote-info" style="height: 243px; top: 10px; margin-bottom:0px;">
                              <p style="font-size: 75%">{{poi.content}}</p>
                            </blockquote>
                            </div>
                            
                          </div>
                          <div class="widget-body">
                          <h3 class="widget-title">{{poi.username}}</h3>
                          <p class="widget-metas">{{poi.time}}</p>
                          <p>{{poi.content | instagram}}</p>
                          <div class="row">
                            <div class="pull-left" style="font-size: 80%">
                              {{poi.followers}}&nbsp;followers &nbsp; 0 Visits
                            </div>
                            <div class="pull-right">
                            <a href="">
                              <i class="fa fa-circle" style="font-size: 50%; padding-left:2px;"></i><i class="fa fa-circle" style="font-size: 50%; padding-left:2px;"></i><i class="fa fa-circle" style="font-size: 50%; padding-left:2px;"></i>
                              </a>
                            </div>
                          <div class="widget-body-footer">
                          <hr style="margin-bottom: 10px;">
                            <a class="btn btn-default btn-sm" href=""><i class="icon wb-heart"></i></a>
                            <a class="btn btn-default btn-sm" href="">follow</a>
                            <a class="btn btn-default btn-sm" href="">comment</a>
                            <a ng-if="poi.verified ==true" class="btn btn-warning btn-sm btn-primary" href="" data-toggle="modal" data-target="#myModal" href="" ng-click="reply(poi)">engage</a>
                            <a ng-if="poi.verified !=true" class="btn btn-default btn-sm btn-primary" href="" data-toggle="modal" data-target="#myModal" href="" ng-click="reply(poi)">engage</a>
                          </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                	</div>
              	</div> -->
	            </div>
            </div>
          </div>
        </div>