<div class="container">
  <div class="row">
    <div class="col s12">
      <br><br><br><br><br>
      <div class="intro center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Meanstack-624x250.jpg">
        <h5 class="grey-text">I Mean, Mo.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4 offset-s4">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="username" ng-model="username" placeholder="Insert Username"/>
      <a id="login" class="waves-effect btn" ng-click="submit(username)">Submit</a>
    </div>
  </div>
</div>