<body>
<div class="container">
	<div class="row">
		<div class="col s12">
			<br><br><br><br><br>
			<div class="intro center">
			  <img src="../img/mean.jpg">
			  <h5 class="grey-text">I Mean, Mo.</h5>
			</div>
		</div>
	</div>
	
 	<div class="row">
 		<div class="col s4 offset-s4">
			<label for="username">Account ID</label>
			<br>
			<input type="text" name="username" id="accountID" ng-model="accountID" placeholder="Insert Account ID"/>
			<a id="login" class="waves-effect btn" ng-click="submit(accountID)">Submit</a>
 		</div>
 	</div>
</div>
</body>

